@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&family=Roboto+Mono:ital,wght@0,300;0,400;1,700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* About Header */

header {
  max-width: 1920px;
  width: 100%;
  height: 89vh;
  margin: 0 auto;
  background-image: url(./images/star\ uó\ topo.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left top;
}

.container-figures {
  position: relative;
}

.container-figures_jedi img {
  top: 10px;
  left: 128px;
  position: absolute;
  z-index: 2;
  width: 70vw;
  height: 102vh;
}

.container-figures_star img {
  position: absolute;
  top: 310px;
  left: 240px;
  width: 24vw;
  height: 11vh;
}

.container-figures_wars img {
  position: absolute;
  top: 310px;
  left: 880px;
  width: 24vw;
  height: 11vh;
}

.container-createlegion {
  width: 15vw;
  height: 20vh;
  position: absolute;
  bottom: 120px;
  right: 75px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}

.container-text {
  color: #000;
  font-size: 20px;
  text-transform: uppercase;
  width: 10vw;
}

.container-text span {
  font-weight: 700;
  margin-left: 5px;
}

.container-border {
  width: 8.5vw;
  border: solid 1px #000;
}

.container-buttons {
  color: #000;
  display: flex;
  justify-content: space-between;
  width: 7vw;
}

.container-buttons span {
  font-size: 20px;
  font-weight: 500;
}

.container-buttons p {
  font-size: 14px;
}

.container-buttons button {
  color: #000;
  border: none;
  font-weight: 700;
  text-align: center;
  margin-top: 10px;
  margin-left: 5px;
  background-color: #a9bdc1;
  width: 15px;
  height: 15px;
  cursor: pointer;
}

/* End Header */

/* Start Fisrt Division */

.container-fisrtdiv {
  height: 70vh;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.container-startplay {
  background-image: url(./images/strom\ trupe\ red.png);
  background-size: cover;
  width: 23vw;
  height: 65vh;
  border: solid;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border: none;
  position: absolute;
  top: -60px;
  left: 150px;
  z-index: 3;
}

.container-startplay h2 {
  font-size: 35px;
  width: 12vw;
  font-weight: 500;
  height: 15vh;
  text-transform: uppercase;
  color: #fff;
}

.container-startplay p {
  color: #fff;
  font-size: 16.5px;
  opacity: 1;
  font-weight: 300;
  width: 20vw;
  height: 18vh;
  line-height: 25px;
}

.container-startplay button {
  width: 12vw;
  height: 6vh;
  background-color: transparent;
  border-radius: 5px;
  border: solid 1px #fff;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
}

.container-startplay button:hover {
  background-color: #000;
}

.container-aboutgame {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 60%;
  position: absolute;
  bottom: 85px;
  right: 0px;
  margin-right: 50px;
}

.container-border_about {
  border: 1px solid #000;
  width: 10vw;
  margin-top: 25px;
}

.container-battlefront img {
  width: 25vw;
  height: 30vh;
}

.container-about {
  height: 30vh;
  width: 30vw;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}

.container-about h2 {
  text-transform: uppercase;
}

.container-paragraphs {
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.container-fisrt_about {
  width: 25vw;
  text-align: end;
  text-indent: 4px;
  line-height: 15px;
  font-size: 13px;
  margin-bottom: 20px;
}

.container-second_about {
  text-align: end;
  width: 25vw;
  font-size: 13px;
  line-height: 15px;
}

/* End Fisrt Division */

/* Division */

.container-division {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 85px;
  position: relative;
}

.container-division div {
  border: solid 1px #000;
  width: 82vw;
  position: absolute;
  bottom: 20px;
}

/* Division */

/* Start second division */

.container-seconddiv {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-seconddiv_main {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.container-darkjedi {
  width: 20vw;
  height: 70vh;
  margin-left: 35px;
}

.container-darkjedi img {
  width: 45vw;
  height: 80vh;
}

.container-godjedi {
  width: 20vw;
  height: 60vh;
}

.container-godjedi img {
  width: 20vw;
}

.container-background_soldier {
  background-image: url(./images/sta\ uo\ robot.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: -10px;
  width: 30vw;
  height: 150vh;
  position: absolute;
  z-index: -3;
  top: 585px;
  left: 0px;
}

.container-list {
  width: 32vw;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.container-list h2 {
  text-align: end;
  font-size: 40px;
  text-transform: uppercase;
  width: 20vw;
  font-weight: 500;
}

.container-list span {
  font-weight: 600;
}

.container-list ul {
  margin-top: 20px;
  list-style: none;
  height: 35vh;
  width: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
}

.container-list li {
  text-transform: uppercase;
  text-align: end;
  letter-spacing: 0px;
  padding: 2px;
  width: 80%;
  cursor: pointer;
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  border: none;
}

.container-list li:hover {
  background-color: #d74430;
  color: #fff;
}

/* End second division */

@media (max-width: 1024px) {
  /* Start Header */

  header {
    max-width: 1024px;
    width: 100%;
    height: 78vh;
    background-size: cover;
    background-position: center top;
  }

  .container-figures_jedi img {
    top: 20px;
    left: 100px;
    width: 70vw;
    height: 90vh;
  }

  .container-figures_star img {
    top: 250px;
    left: 230px;
    width: 20vw;
    height: 10vh;
  }

  .container-figures_wars img {
    top: 250px;
    left: 670px;
    width: 20vw;
    height: 10vh;
  }

  .container-createlegion {
    width: 15vw;
    height: 25vh;
    bottom: 100px;
    right: 85px;
  }

  .container-text {
    font-size: 20px;
  }

  .container-border {
    width: 11.5vw;
    border: solid 2px #000;
  }

  .container-buttons {
    width: 15vw;
  }

  .container-buttons button {
    text-align: center;
    margin-top: 10px;
  }

  .container-click {
    margin-right: 60px;
  }

  /* End Header */
}

@media (max-width: 768px) {
  header {
    max-width: 768px;
    width: 100%;
    height: 60vh;
    background-size: cover;
    background-position: center left;
  }

  .container-figures_jedi img {
    top: 2px;
    left: 85px;
    width: 70vw;
    height: 75vh;
  }

  .container-figures_star img {
    top: 190px;
    left: 180px;
    width: 20vw;
    height: 9vh;
  }

  .container-figures_wars img {
    position: absolute;
    top: 190px;
    left: 515px;
    width: 20vw;
    height: 9vh;
  }

  .container-createlegion {
    width: 20vw;
    height: 25vh;
    bottom: 165px;
    right: 10px;
  }

  .container-text {
    font-size: 18px;
  }

  .container-border {
    width: 14vw;
    border: solid 3px #000;
  }

  .container-buttons {
    width: 20vw;
  }

  .container-buttons span {
    font-size: 18px;
  }

  .container-buttons p {
    font-size: 12px;
  }

  .container-buttons button {
    margin-top: 5px;
    margin-left: 5px;
    width: 20px;
    height: 20px;
  }

  .container-click {
    margin-right: 50px;
  }
}

@media (max-width: 425px) {
  header {
    max-width: 425px;
    width: 100%;
    height: 34vh;
    background-position: center top;
  }

  .container-figures_jedi img {
    top: 5px;
    left: 45px;
    width: 70vw;
    height: 40vh;
  }

  .container-figures_star img {
    top: 105px;
    left: 77px;
    width: 25vw;
    height: 5vh;
  }

  .container-figures_wars img {
    top: 105px;
    left: 280px;
    width: 25vw;
    height: 5vh;
  }

  .container-createlegion {
    width: 20vw;
    height: 18vh;
    bottom: 320px;
    right: 10px;
  }

  .container-text {
    font-size: 13px;
    width: 10vw;
  }

  .container-border {
    width: 18vw;
    border: solid 2px #000;
  }

  .container-buttons {
    width: 20vw;
  }

  .container-buttons span {
    font-size: 13px;
  }

  .container-buttons p {
    font-size: 9px;
  }

  .container-buttons button {
    margin-top: 4px;
    margin-left: 3px;
    width: 2vw;
    height: 2vh;
  }

  .container-click {
    margin-right: 4vw;
  }
}
